#poriteFounder {
  margin-top: 30px;
  margin-bottom: 30px;
}

.history {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  margin-bottom: 30px;
}

.aboutDescription {
  margin-bottom: 30px;
}
