.contacts {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 200px;
  min-height: calc(65vh - 65px)
}

.icons {
  width: 75%;
  height: auto;
}

@media only screen and (min-width: 401px) and (max-width: 992px) {
  .icons {
    width: 75%;
    height: auto;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 400px) {

  .icons {
    width: 100%;
    height: auto;
  }

  .contacts {
    margin-bottom:200px;
  }
}