.footer {
  background: #b30000;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  border-top: 4px solid #800000;
}

.footerList {
  list-style: none;
  text-align: left;
  padding: 0;
}

.col {
  padding-left: 50px;
  padding-right: 50px;
}

.footerHeader{
  text-align: left;
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  font-size: 21px;
}

.Address {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.footerColor {
  color: white;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.phoneNumber {
  color: white;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.footerColor:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 0px) and (max-width: 572px) {
  .footerHeader {
    font-size: 19px;
  }

	.Address, .footerColor, .phoneNumber{
    font-size: 15px;
  }

}
