.productHeader {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 50px;
}

#PoriteMeaning {
  width: 100%;
  height: auto;
}

#poriteProducts {
  width: 90%;
  margin:36px;
}

.partsCenter {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Merriweather', serif;
  Font-Size: 29px;
  font-weight: bold;
}

.products {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  height: auto;
}

#autoParts, #metalInjection, #oillessBearing {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.productDesc {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 14px;
  width: 400px;
}

.productDesc2 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight:bold;
  padding-left: 171px;
  padding-top: 14px;
  padding-bottom: 5px;
  width: 586px;
}

#link3 {
  list-style: none;
  padding-right: 213px;
}

#link2 {
  list-style: none;
  padding-left: 28px;
}

#link1 {
  list-style: none;
  padding-right: 189px;
}

.row1 {
  padding-top: 70px;
}

.row2 {
  padding-top: 65px;
  padding-left: 30px;
}

.row3 {
  padding-top: 83px;
}

#linkHeader3 {
  font-family: 'Merriweather', serif;
  font-size: 34px;
  padding-right: 264px;
}

#linkHeader2 {
  font-family: 'Merriweather', serif;
  font-size: 34px;
}

#linkHeader1 {
  font-family: 'Merriweather', serif;
  font-size: 34px;
  padding-right: 93px;
}

.productDesc3 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  font-size: 22px;
  padding-left: 0px;
  padding-top: 14px;
  padding-bottom: 5px;
  padding-right: 57px;
  width: 490px;
}

.botLayout {
  display:flex; 
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.botLayout2, .botLayout3 {
  display: flex; 
  flex-direction: row;
  margin-bottom: 50px;
}

.botLayout3 {
  display: flex; 
  flex-direction: row;
}


.botLayout col {
  background: blue;
}

#map {
  width: 111%;
}