.title1 {
  margin: 30px 0px 0px 50px;
}

.title2 {
  margin: 15px 0px 0px 50px;
}

.title1, .title2 {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
  text-align: left;
}

.officeHeading {
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: 1.75rem;
}

.picture-info {
  margin-top: 5px;
  padding-left: 0px; 
}

#poriteWorldMap {
  margin-right:auto;
  margin-left: auto;
  width: 75%;
  height: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.picture-info li {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  list-style: none;
  text-align: left;
  padding-left: 0px;
}

.unitedStates {
  display:flex;
  flex-direction: row;
  margin-right: auto;
}

.officePics {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.officeDesc {
  width: 303px;
  text-align:left;
  font-size: 15px;
  margin-right:0px;
}

.offices1, .offices2, .offices3, .offices4 {
  display: flex;
  flex-direction: row;
}

.offices4 {
  margin-bottom: 50px;
}

span {
  font-size: 15px;
}



@media only screen and (min-width: 1004px) and (max-width: 1277px) {
  .officePic {
    width: 100%;
  }

  .picture-info li {
    font-size: 15px;
  }

  ul.picture-info {
    width: 100%;
    /* padding-left: 34px; */
  }
}

@media only screen and (min-width: 529px) and (max-width: 1003px) {
  h3 {
    font-size: 2.75rem
  }

  .officePic {
    width: 100%;
    margin-top: 20px;
  }

  .officeHeading{
    font-size: 2.5rem;
  }

  .picture-info li {
    font-size: 21px;
  }

  .offices1, .offices2, .offices3, .offices4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  ul.picture-info {
    width: 100%; 
  }

  #poriteWorldMap {
    width: 100%;
  }
  
}

@media only screen and (min-width: 0px) and (max-width: 528px) {
  .officePic {
    width: 100%;
  }

  .title1 {
    font-size: 1.75rem;
  }

  .picture-info li {
    font-size: 15px;
  }

  .officePic {
    width: 100%;
    margin-top: 20px;
  }

  .offices1, .offices2, .offices3, .offices4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  ul.picture-info {
    width: 100%;
  }

  #poriteWorldMap {
    width: 100%;
  }

}
