.parts {
  width: 90%;
  height: auto;
}



.autoParts, .powerToolParts, .MetalInjection {
  font-family: 'Merriweather', serif;
  font-size: 23px;
  padding-left: 61px;
  text-decoration: underline;
  text-align: left;
}

.autoParts,.metalInjection {
  margin-top: 30px;
}

.parts1, .parts2, .parts3, .parts4, .parts5 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
}

.part5 {
  margin-bottom: 30px;
}

.productTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  margin-top: 10px;
  font-weight: bold;
}

a {
  font-size: 25px;
}

.reminder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.reminderTitle {
  font-size: 25px;
  text-align:center;
}

@media only screen and (min-width: 1003px) and (max-width: 1004px) {
  .parts {
    width: 100%;
  }
}

@media only screen and (min-width: 762px) and (max-width: 1002px) {
  .parts {
    width: 70%;
  }

  .autoParts, .powerToolParts, .MetalInjection {
    padding-left: 139px;
  }

  .parts1, .parts2, .parts3, .parts4, .parts5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .productTitle{
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 761px) {
  .parts {
    width: 100%;
  }

  .autoParts, .powerToolParts, .MetalInjection {
    padding-left: 50px;
    font-size: 15px;
  }

  .parts1, .parts2, .parts3, .parts4, .parts5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .reminderTitle{
    font-size: 19px;
    text-align: center;
  }

  .productTitle {
    font-size: 11px;
    margin-bottom: 20px;
  }

  a {
    font-size: 19px;
  }
}
