.technology {
  margin: 30px auto 50px auto;
  width: 75%;
  height: auto;
}


.techTitle {
  text-align: left;
  margin-bottom:20px;
  color: #e60000;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.techDesc{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  text-align: left;
  margin-bottom: 50px;
}

@media only screen and (max-width: 584px) {
  .techTitle {
    font-size: 20px;
  }

  .techDesc {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .description {
    margin: 20px;
  }
}